@import "tailwindcss";

:root {
  /* font-family: 'Aspekta', sans-serif; */
  line-height: 1.5;
  font-weight: 400;

}


body {
  margin: 0;
  font-family: 'Aspekta',;
  overflow: auto;

}

@media screen and (min-width: 768px) {
  body {
    overflow: hidden;
  }
}

input[type="text"],
input[type="email"],
input[type="password"] {
  /* width: 100%;
  max-width: 540px;
  height: 60px; */
  width: 504;
  height: 60;
  gap: 16px;
  border-radius: 15px;

  padding-top: 11px;
  /* padding-left: 18px; */
  padding-right: 18px;
  padding-bottom: 11px;
  border-width: 1px;
}


button {
  background: #1662C5;
  width: 504;
  height: 68;
  gap: 7px;
  border-radius: 15px;
  padding-top: 21px;
  padding-right: 20px;
  padding-bottom: 21px;
  padding-left: 20px;
}

p {
  color: #435465;
}

a {
  color: #1662C5;
}

.login-icons,
.register-icons {
  border-right: 1px solid rgb(191, 191, 191);
  padding-right: 10px;
  /* Space before the border */

}

.login-page-input {
  padding-right: 125px;
  /* Space before the border */
}

.right-div-register {
  background: #F4F8F9;
}

.logo-text {
  color: #006FFF;

}

.second-section {
  width: 941;
  height: 1080;
  gap: 10px;
  left: 979px;
  padding-top: 130px;
  padding-right: 140px;
  padding-bottom: 130px;
  padding-left: 140px;


}


.second-section>h2 {
  /* font-family: Aspekta; */
  font-size: 28px;
  letter-spacing: 0%;
  text-align: left;


}

.special-text {
  color: #006FFF;

}

.mobile-img {
  width: 885px;
  height: 434px;
  angle: -17.02 deg;
  top: 386px;
  left: 1286.09px;

}

.new-img {
  height: 470px;
}
.register-footer-div {
  margin-top: 70px;
}