@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
 
}
 

body {
  margin: 0; 
}

button {
  background: #1662C5;
  /* width: 504px;
  height: 276px; */
}

p {
  color: #435465;
}

a {
   color: #1662C5;
}

.login-icons, .register-icons {
  border-right: 1px solid rgb(191, 191, 191);
  padding-right: 5px; /* Space before the border */

}

.login-page-input {
  padding-right: 125px; /* Space before the border */
}

.right-div-register {
  background: #F4F8F9;
}

.logo-text {
  color: #006FFF;

}

